<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        .hoverhandle {
            width: 300px;
            height: 200px;
            background-color: #000055;
            transition: .3s ease;
        }
        .hoverhandle:hover{
            transform: translateX(50px) translateY(50px);
            background-color: #333333;
        }

        .slide-fade-enter-active{
            transition: all 1s ease;
        }
        .slide-fade-leave-active {
            transition: all .5s ease;
        }

        .slide-fade-enter, .slide-fade-leave-to{
            transform: translateX(10px);
            opacity: 0;
        }

        .pointer {
            height: 16px;
            background-color: #333
        }

    </style>
</head>
<body>
    <div id="app">
        <button v-on:click="showing = !showing">Show or hide</button>

        <transition name="slide-fade" tag="div">
            <div v-if="showing">Hello!</div>
        </transition>

        <weather-meter></weather-meter>
    </div>

    <script type="text/x-template" id="weather-meter-template">
        <div>
            Today's High: {{ shownHigh.toFixed(1) }}
            <div class="pointer" v-bind:style="{ width: shownHigh+'px' }"></div>
            How we feel about this: {{ ourFeelings }}
        </div>
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.4.4/vue.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.20.2/TweenMax.min.js"></script>
    <script src="js/app.js"></script>

</body>
</html>